<html>
  <head>
    <link rel="stylesheet" href="main.css"/>

    <script type="text/x-template" id="radar">
      <div class="radar float-right">
        <div class="blip blip-ship"></div>
        <div class="blip" v-for="f in files" v-bind:class="'blip-' + f.type" v-bind:style="{top: 100 - ((shipposition.y - f.position.y) * 0.03) + 'px', left: 100 - ((shipposition.x - f.position.x) * 0.03) + 'px'}"></div>
      </div>
    </script>

    <script type="text/x-template" id="currentfolder">
      <span class="currentfolder float-left" v-bind:class="{'in-game-root': isgameroot}">{{currentfolder}}</span>
    </script>

    <script type="text/x-template" id="loadavg">
      <ul class="loadavg float-right">
        <li v-for="l in load">{{l}}</li>
      </ul>
    </script>

    <script type="text/x-template" id="hostname">
      <span class="hostname float-left">{{hostname}}</span>
    </script>

    <script type="text/x-template" id="freemem">
      <span class="freemem float-left">{{freemem}}</span>
    </script>
  </head>
  <body style="display:flex;justify-content:center;align-items:center;">
    <div id="main" style="width:800px;height:600px;"></div>
    <div id="vue">
      <div class="top-left">
        <currentfolder v-bind:currentfolder="currentfolder" v-bind:isgameroot="isgameroot"></currentfolder>
      </div>
      <div class="top-right">
        <radar v-bind:files="files" v-bind:shipposition="shipposition"></radar>
      </div>
      <div class="bottom-left">
        <hostname v-bind:hostname="hostname"></hostname>
        <freemem v-bind:freemem="freemem"></freemem>
      </div>
      <div class="bottom-right">
        <loadavg v-bind:load="load"></loadavg>
      </div>
    </div>
    <script src='dist/bundle.js'></script>
  </body>
</html>